.intervalBox {
  transform: rotate(-10deg) translate(-2em, 10em);
  padding: 3em;
  height: 20em;
  border: 1px solid rgba(0, 0, 0, 0.347);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  &.bigBox {
    flex: 1;
  }
  &.miniBox {
    margin-bottom: 2em;
  }
  h2 {
    font-size: 2.5em;
    letter-spacing: 0.02em;
    text-align: center;
  }
  p {
    font-size: 2em;
    letter-spacing: 0.05em;
    text-align: center;
  }
  @media screen and (max-width: 890px) {
    flex: 1;
    min-width: 25em;
  }
  @media screen and (max-width: 870px) {
    font-size: 1.5vw;
  }
}
